.main{
   height: 95vh; 
   width: 100vw;
   
    background-image: url(https://images.unsplash.com/photo-1542856391-010fb87dcfed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
}
